html,
.feed-body {
    background-color: #EDEDE9;
}

.navbar {
    background-color: #519087 !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand .profile:hover,
.nav-link:hover,
.navbar svg:hover,
.active {
    color: rgb(180, 167, 143) !important;
}

.navbar svg {
    width: 20px;
}

.navbar-brand .img-container {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.navbar-brand .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.username {
    font-size: 15px;
}

.navbar .search-btn,
.navbar .search-btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.navbar .search-bar {
    font-size: 15px;
}

.navbar .search-bar:focus {
    box-shadow: none !important;
    border-color: #256C57 !important;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 175, 175);
}

.section-container {
    background-color: white;
    border-radius: 20px;
}

.post-icons {
    width: 25px;
    height: 25px;
    fill: #519087;
    cursor: pointer;
}

.post-icons:hover {
    fill: rgb(180, 167, 143);
}

.file-modal .modal-body {
    background-color: #EDEDE9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    cursor: pointer;
}

.post-btn {
    background-color: #519087;
    border-color: #519087;
}

.post-btn:hover,
.post-btn:active {
    background-color: #3D7F6C !important;
    border-color: #3D7F6C !important;
}

.post-btn:focus {
    background-color: #3D7F6C !important;
    border-color: #3D7F6C !important;
    box-shadow: none !important;
}

.post-textarea,
.post-textarea:focus {
    border: none !important;
    box-shadow: none !important;
}

@media (min-width: 900px) {
    .post-modal .modal-dialog {
        max-width: 50%;
        margin: 1.75rem auto;
    }
}

.user-section {
    display: flex;
    align-items: center;
}

.post .img-container {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post .username {
    font-size: 15px;
}


.media-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.media-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.media-modal .modal-body img {
    width: 100%;
}

.action-icons {
    border-top: #EDEDE9 1px solid;
}

.action-btn:hover {
    border-radius: 4px;
    background-color: #EDEDE9;
    cursor: pointer;
}

.post-actions-btn button {
    background-color: white !important;
    border-color: white !important;
    box-shadow: none !important;
}

.post-actions-btn>div:first-of-type {
    transform: translate3d(-115px, 41.6px, 0px) !important;
}

.reactions-container {
    font-size: 13px;
}

.reactions-container svg {
    width: 20px;
    height: 20px;
}

.img-container {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-comments input {
    box-shadow: none !important;
}

.post-comments input:focus {
    border-color: #256C57 !important;
}

.post-comments .username {
    font-weight: 600;
}

.post-comments .user-comment {
    font-size: 14px;
}

.comment-icons {
    width: 15px;
    height: 15px;
}

.comments-number:hover {
    color: #3D7F6C;
    cursor: pointer;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.follow-text {
    font-size: 13px;
    color: #3D7F6C;
}

.follow-text:hover {
    cursor: pointer;
    color: #256C57;
}

.request-icons {
    width: 20px;
    height: 20px;
}

.ignore-icon {
    fill: rgb(174, 101, 101);
}

.ignore-icon:hover {
    fill: rgb(200, 60, 60);
}

.liked {
    background-color: #EDEDE9;
    border-radius: 4px;
    color: #519087;
}

.dropdown-item:active {
    background-color: #519087;
}

.dropdown-toggle::after {
    display: none;
}