.new-chat:hover {
    background-color: #EDEDE9;
    border-radius: 4px;
    cursor: pointer;
}

.active-chat {
    background-color: #EDEDE9;
    border-radius: 4px;
    cursor: pointer;
}

.online-dot {
    width: 8px;
    height: 8px;
    background-color: #337577;
    border-radius: 50%;
}

.messages-container {
    height: 350px;
    overflow-y: auto;
}

.send-message-container {
    height: 118px;
}

.single-message-container {
    background-color: #EDEDE9;
    border-radius: 4px;
    min-width: 100px;
    max-width: 250px;
    font-size: 14px;
}

.single-message-container .time {
    font-size: 10px;
}

.single-message-username {
    margin-bottom: 5px;
    font-size: 13px;
    color: #337577;
}


.group-name {
    box-shadow: none !important;
    border-color: rgb(206, 212, 218) !important;
}

.loader-container {
    position: relative;
}

.message-loader {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 300px;
    color: #337577;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}