.new-chat:hover {
    background-color: #EDEDE9;
    border-radius: 4px;
    cursor: pointer;
}

.active-chat {
    background-color: #EDEDE9;
    border-radius: 4px;
    cursor: pointer;
}

.online-dot {
    width: 8px;
    height: 8px;
    background-color: #337577;
    border-radius: 50%;
}

.messages-container {
    height: 350px;
    overflow-y: auto;
}

.send-message-container {
    height: 118px;
}

.single-message-container {
    background-color: #EDEDE9;
    border-radius: 4px;
    min-width: 100px;
    max-width: 250px;
    font-size: 14px;
}

.single-message-container .time {
    font-size: 10px;
}

.single-message-username {
    margin-bottom: 5px;
    font-size: 13px;
    color: #337577;
}


.group-name {
    box-shadow: none !important;
    border-color: rgb(206, 212, 218) !important;
}

.loader-container {
    position: relative;
}

.message-loader {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 300px;
    color: #337577;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}


/* GARDEN  */

.garden-icons {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.garden-btn:first-of-type {
    border-right: #EDEDE9 1px solid;
}

.garden-btn:hover {
    background-color: #EDEDE9;
    cursor: pointer;
    border-radius: 4px;
}

.plant-details {
    background-color: #EDEDE9;
    min-width: 200px;
}

.plant-details-2 {
    background-color: #EDEDE9;
    min-width: 80%;
}

.plant-img-container {
    height: 90px;
    width: 90px;
    overflow: hidden;
    flex-shrink: 0;
}

.plant-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.my-garden {
    margin-top: 10rem;
}

.my-garden .card {
    position: relative;
}

.my-garden .card-title {
    font-size: 1rem;
}

.my-garden .card-text {
    font-size: 14px;
}

.garden-actions {
    position: absolute;
    right: 0;
}

.diagnose-container .card {
    border: none;
}


.diagnose-container .card img {
    height: 300px;
    border-radius: 0;
}

.diagnose-container .card-body {
    height: 250px;
}

.advice {
    font-weight: 600;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.single-plant-card {
    position: relative;
}

.edit-icon-container {
    background-color: #EDEDE9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.single-plant-card img {
    height: 300px;
    border-radius: 0;
    object-fit: cover;
}

.single-plant-card .card-body {
    height: 200px;
}

.single-plant-card .edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.single-plant-card #dropdown-button-drop-down {
    background-color: transparent !important;
    border-color: transparent !important;
}