.login-link {
    font-size: 12px;
    color: #38a3a5;

}

.login-link:hover {
    color: #337577;
    text-decoration: none;
}

.not-valid-email {
    border-color: rgb(188, 88, 88) !important;
    border-right-color: initial !important;
    border-left-color: initial !important;
}